<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["LocationTitle"]</title>
    <link rel="stylesheet" href="~/css/gameLocation.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/LocationBackground.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/root.css" asp-append-version="true" />
</head>
<body class="@ViewData["BackgroundImage"]">

    <header class="header">
        <h1 class="header__heading">@ViewData["LocationTitle"]</h1>
    </header>

    <section class="sidemenu">
        <div class="menu menu--closed">
            <button onclick="toggleMenu()" class="menu__swich"></button>
            <h1 class="menu__heading">HackAttack</h1>
            <ul class="menu__list">
                <li class="menu__item"><a class="manu__link" asp-page="Map">Map</a></li>
                <li class="menu__item"><a class="manu__link" asp-page="Map">Quests</a></li>
                <li class="menu__item"><a class="manu__link" asp-page="LoadOut">LoadOut</a></li>
                @* <li class="menu__item"><a class="manu__link" asp-page="#">Save Game</a></li> *@
                <li class="menu__item"><a class="manu__link" asp-page="Index">Main menu</a></li>
            </ul>
        </div>
        <div class="menu__overflow" onclick="toggleMenu()"></div>
    </section>

    <div class="npc"></div>

    @RenderBody()

    <div class="choice ">
        @await RenderSectionAsync("Choices", required:true)
    </div>

<script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
