.header {
    z-index: -999;
    width: fit-content;
    height: 75px;
    background: var(--black);
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0px -40px 60px 50px var(--blue);
}

    .header::before,
    .header::after {
        content: '';
        position: absolute;
        border-style: solid;
        top: 0;
    }

    .header::before {
        right: -50px;
        border-width: 75px 50px 0 0;
        border-color: var(--black) transparent transparent transparent;
    }

    .header::after {
        left: -50px;
        border-width: 75px 0 0 50px;
        border-color: var(--black) transparent transparent transparent;
    }

.header__heading {
    font-size: 38px;
    margin: 0 .4em;
    color: var(--white);
}

    .header__heading::after {
        content: "";
        display: block;
        background-color: var(--blue-light);
        height: 5px;
        border-radius: 50px;
        box-shadow: 0px 0px 10px 0px var(--blue);
    }





.menu {
    z-index: 999;
    height: 100%;
    width: 300px;
    position: absolute;
    top: 0;
    background-color: var(--black);
    box-shadow: 25px 0px 50px 0px var(--blue);
    transition: all 1s;
    transition: all 0.5s ease-in-out;
    color: white;
}

.menu__swich {
    height: 100px;
    width: 30px;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--black);
    display: flex;
    position: absolute;
    right: -30px;
    top: calc(50% - 50px);
    background-image: url(../images/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.menu--closed {
    margin-left: -300px;
    box-shadow: none;
}

    .menu--closed .menu__swich {
        background-image: url(../images/arrow-right.svg);
    }

.manu__link {
    display: block;
    font-size: 2.5em;
    padding: .5em 0;
    text-decoration: none;
    color: white;
    border: 1px solid var(--blue-light);
    width: 6em;
    text-align: center;
    box-shadow: 0 5px 10px var(--blue);
    transition: transform .2s ease-in-out;
}

.menu__item {
    height: fit-content;
    margin-bottom: 1em;
}

.menu__list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: fit-content;
}

.menu__heading {
    text-align: center;
    font-size: 3.2em;
    position: relative;
    color: var(--white);
}

    .menu__heading::after {
        content: "";
        display: block;
        width: 80%;
        background-color: var(--blue-light);
        height: 5px;
        margin-left: 10%;
        border-radius: 50px;
        box-shadow: 0px 0px 10px 0px var(--blue);
    }

.menu__overflow {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 998;
}





.textbox {
    transform: translateX(-50%);
    left: 50%;
    max-width: 1000px;
    width: calc(95vw - 64px - 6px);
    position: absolute;
    display: flex;
    gap: 24px;
    flex-direction: column;
    bottom: .2em;
    padding: 32px;
    border: 3px solid var(--blue);
    border-radius: 50px;
    background-color: var(--black50);
}

    .textbox p {
        margin: 0;
        color: var(--white);
    }

    .textbox .textbox__character {
        height: fit-content;
        text-transform: uppercase;
        color: var(--blue);
        font-size: 32px;
        width: fit-content;
        text-shadow: 0 0 15px var(--blue);
    }

.textbox__container {
    display: flex;
    justify-content: space-between;
}

.textbox__next {
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-color: unset;
    border: none;
    background-position: right;
    width: 25px;
    padding: 0;
}
.textbox__next--close {
    background-image: url(../images/close-light.svg);
    width: 55px;
}
.textbox--red {
    border: 3px solid var(--red);
}

    .textbox--red .textbox__character {
        color: var(--red);
        text-shadow: 0 0 15px var(--red);
    }

    .textbox--red .textbox__next {
        background-image: url(../images/arrow-right--red.svg);
    }





.wrap {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 1em;
    width: 95%;
}

.location-choice {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}





.button {
    text-decoration: none;
    cursor: pointer;
    flex-grow: 1;
    border: 1px solid var(--blue);
    padding: 1em .5em;
    background-color: var(--black50);
    color: var(--white);
    text-align: center;
    border-radius: 16px;
    margin: 0;
    font-size: 24px;
    overflow: hidden;
    backdrop-filter: blur(4px);
}

.button--hit {
    width: 100%;
}

.button--blue {
    width: calc(100% - 1em);
    background-color: var(--blue);
    backdrop-filter: unset;
    color: var(--black);
    padding: .5em;
    box-shadow: 0px 0px 25px 0px var(--blue);
    display: block;
    flex-grow: 0;
    min-height: 48px;
}   

.button--arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: fit-content;
}

    .button--arrow::before {
        content: "";
        display: inline-block;
        width: 44px;
        height: 44px;
        background-image: url(../images/arrow-big.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }





.player {
    gap: 1em;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.player__cont {
    display: flex;
    width: 100%;
    flex-direction: column;
}

    .player__cont:last-child {
        justify-content: right;
    }

.player-stats {
    width: fit-content;
    background-color: var(--black50);
    border-radius: 5px;
    padding: .2em;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.player-stats--health {
    color: var(--pink);
}

.player-stats--energy {
    margin-left: auto;
    color: var(--green);
}

.player-stats--health::before {
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url(../images/heart.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.player-stats--energy::after {
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url(../images/bolt.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}





.progress-bar {
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 16px;
    height: fit-content;
    background-color: var(--black);
    box-shadow: 0px 0px 15px 5px var(--pink);
}

.progress-bar__bar {
    border-radius: 15px;
    display: block;
    height: 6px;
    width: 100%;
    transition: width .8s ease-in-out;
}

.progress-bar--health .progress-bar__bar {
    background-color: var(--pink);
}

.progress-bar--energy {
    box-shadow: 0px 0px 15px 5px var(--green);
}

    .progress-bar--energy .progress-bar__bar {
        background-color: var(--green);
    }

.progress-bar--wide{
    box-shadow: 0px 0px 15px 5px var(--blue);
    width: 60%;
}
.progress-bar--wide .progress-bar__bar {
    height: 48px;
    border-radius: 3px;
    background-color: var(--blue);
}






.enemy-stats {
    color: var(--white);
    margin: 0 auto;
    width: 95%;
    font-size: 24px;
}

.enemy-stats__enemy__pink {
    color: var(--pink);
}

.enemy-stats__enemy {
    background-color: var(--black50);
    border-radius: 15px;
    width: fit-content;
    margin: 1em auto .3em auto;
    padding: .3em;
}





.minigame--green_square {
    width: 95%;
    height: 105px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%);
    background-color: var(--black50);
    border-radius: 10px;
    border: 3px solid var(--blue);
    overflow: hidden;
    box-shadow: 0px 0px 5px 2px var(--blue);
}

.minigame__square {
    position: absolute;
    width: 35px;
    height: 105px;
    background-color: var(--green);
    top: 0;
    left: 75%;
}

.minigame__stick {
    position: absolute;
    width: 8px;
    height: 105px;
    background-color: var(--black);
    bottom: 0;
    left: 76%;
    border-right: 3px solid var(--blue);
    border-left: 3px solid var(--blue);
}





.fight-info {
    background-color: var(--black50);
    border-radius: 15px;
    width: fit-content;
    margin: 0 auto;
    padding: 1em;
}

.fight-info__cont {
    display: flex;
    height: fit-content;
    justify-content: center;
}

.fight-info__text {
    margin: 0;
    color: white;
    font-size: 24px;
}

.fight-info__text--pink {
    color: var(--pink);
}

.fight-info__text--green {
    color: var(--green);
    margin-left: 5px;
}





.death-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.death-menu {
    backdrop-filter: blur(5px);
    border-radius: 15px;
    background-color: var(--black80);
    width: fit-content;
    padding: 2em;
    margin: auto;
    width: calc(85% - 4em);
    max-width: calc(850px - 130px);
}

.death-menu__text {
    margin: 0 0 1em 0;
    color: var(--white);
    font-size: 3em;
    line-height: 95%;
    text-align: center;
}

    .death-menu__text::before {
        content: "404";
        display: flex;
        text-shadow: -4px -4px 0 var(--black), 4px -4px 0 var(--black), -4px 4px 0 var(--black), 4px 4px 0 var(--black);
        justify-content: right;
        align-items: end;
        line-height: 1.4em;
        height: 85px;
        width: 200px;
        background-image: url(../images/no-signal.svg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
    }




.loadout {
    background-color: black;
    padding: 1em;
    width: unset;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: fit-content;
    overflow: unset;
}

.loadout__cont {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: .8em;
    border-radius: 25px;
    background: var(--black);
    box-shadow: 0px 0px 25px 0px var(--blue);
}

.cont__heading {
    font-size: 48px;
    text-align: center;
    margin: 0;
}

    .cont__heading::after {
        content: "";
        display: block;
        background-color: var(--blue-light);
        height: 5px;
        border-radius: 50px;
        box-shadow: 0px 0px 10px 0px var(--blue);
    }



.cont__weapon {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: contain;
    height: 100px;
}

.cont__weapon--knife {
    background-image: url(../images/weapons/knife.png);
}

.cont__weapon--bat {
    background-image: url(../images/weapons/bat.png);
}

.cont__weapon--gun {
    background-image: url(../images/weapons/gun.png);
    height: 250px;
}



.cont__inventory {
    width: 100%;
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(3, 1fr);
}

.cont__inventory__item {
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--blue);
    border-radius: 8px;
    background: var(--grey);
}

.cont__cyberware {
    height: 450px;
    width: 100%;
    background-image: url(../images/body.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cont__cyberware__item {
    height: 75px;
    width: 75px;
    position: absolute;
    left: 10%;
    top: 10%;
    border-radius: 15px;
    background-color: var(--grey);
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

    .cont__cyberware__item:last-child {
        top: 70%;
        left: 60%;
    }

.loadout__cont--chip .cont__cyberware__item:first-child {
    background-image: url(../images/chip.png);
}

.loadout__cont--body .cont__cyberware__item:last-child {
    background-image: url(../images/skelleton.png);
}

.cont__cyberware_text {
    margin: 0;
    text-align: center;
}

    .cont__cyberware_text::after {
        content: "You do not have equiped no CYBERWARE.";
        font-size: 28px;
        width: 100%;
    }

.loadout__cont--chip .cont__cyberware_text::after {
    content: "You have equiped BRAIN CHIP.";
}

.loadout__cont--body .cont__cyberware_text::after {
    content: "You have equiped SKELETRON.";
}

.loadout__cont--chip.loadout__cont--body .cont__cyberware_text::after {
    content: "You have equiped SKELETRON and BRAIN CHIP.";
}

.cont__stat_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont__stat_item::before {
    content: "";
    display: block;
    height: 48px;
    width: 48px;
    background-image: url(../images/pig.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cont__stat_item:nth-child(2):before {
    background-image: url(../images/heart-wide.svg);
}.cont__stat_item:last-child:before {
    background-image: url(../images/bolt-wide.svg);
}

.cont__stats p {
    font-size: 24px;
}
p.cont__stat__money {
    font-size: 2em;
    margin: 0;
}



.map {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 1em;
    width: unset;
    height: fit-content;
    overflow: unset;
    height: calc(100vh - 2em);
}

.content {
    border-radius: 0px 15px 15px 15px;
    border: 1px solid var(--grey-light);
    background-color: var(--grey-dark);
    color: white;
    font-size: 2em;
    padding: .4em;
    height: calc(100% - .8em);
}

.map__wrap {
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    position: relative;
}

.content--quests {
    overflow-y: scroll;
}

.swich__cont {
    position: absolute;
    top: -48.5px;
}

.swich {
    padding: 10px;
    background: var(--grey-dark);
    border-radius: 5px 5px 0px 0px;
    color: var(--white);
    font-size: 24px;
    border: none;
}

    .swich.active {
        border-top: 1px solid var(--grey-light);
        border-right: 1px solid var(--grey-light);
        border-left: 1px solid var(--grey-light);
        border-bottom: 1px solid var(--grey-dark);
        padding-bottom: 13px;
        overflow: visible;
        padding-bottom: 11px;
    }


.content--map {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content__map {
    width: 100%;
    flex-grow: 1;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(../images/map.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.content__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.content__choice {
    cursor: pointer;
    padding: 15px;
    flex-grow: 1;
    border-radius: 8px;
    background: var(--black);
    font-size: 24px;
    color: var(--white);
    border: none;
    transition: box-shadow .2s ease-in-out;
}

    .content__choice.selected {
        box-shadow: 0px 0px 10px 0px var(--blue);
    }

.content__cta {
    border-radius: 8px;
    background: var(--black);
    color: var(--white);
    text-decoration: none;
    text-align: center;
    padding: 1em;
    opacity: .5;
    transition: all .2s ease-in-out;
}

    .content__cta.enabled {
        opacity: unset;
        outline: 2px solid var(--blue);
    }

.content__map__location {
    display: block;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    background-color: var(--white);
    transition: opacity .5s ease-in-out;
    opacity: 0;
    position: absolute;
    left: 20%;
    top: 10%;
}

    .content__map__location.active {
        opacity: 1;
    }

    .content__map__location:first-child {
        top: 50%;
        left: 65%;
    }

    .content__map__location:last-child {
        top: 80%;
        left: 40%;
    }





.content--quests {
    overflow-y: scroll;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.quest__card {
    overflow: hidden;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: var(--black);
}

.quest__card__heading {
    font-weight: 700;
    background: var(--black);
    color: var(--white);
    font-size: 32px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quest__card__text {
    margin: 0;
}

.quest__card__text--blue {
    color: var(--blue);
    padding-bottom: 10px;
}

.quest__card__heading:after {
    content: "";
    display: block;
    height: 40px;
    width: 32px;
    background-image: url(../images/arrow-up.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 14px;
}

.quest__card.finished .quest__card__heading {
    padding: 0 10px;
}

    .quest__card.finished .quest__card__heading:after {
        height: 60px;
        flex-grow: 1;
        background-image: url(../images/check.svg), url(../images/arrow-up.svg);
        background-position: left, right;
        background-size: contain, 32px;
    }

.quest__card.active .quest__card__heading:after {
    background-image: url(../images/arrow-down.svg);
}

.quest__card.active.finished .quest__card__heading:after {
    background-image: url(../images/check.svg), url(../images/arrow-down.svg);
    background-position: left, right;
    background-size: contain, 32px;
}

.quest__card__cont {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}