/*NAME OF LOCATION*/
.header {
    z-index: -999;
    width: fit-content;
    height: 75px;
    background: var(--black);
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0px -40px 60px 50px var(--blue);
}

    .header::before,
    .header::after {
        content: '';
        position: absolute;
        border-style: solid;
        top: 0;
    }

    .header::before {
        right: -50px;
        border-width: 75px 50px 0 0;
        border-color: var(--black) transparent transparent transparent;
    }

    .header::after {
        left: -50px;
        border-width: 75px 0 0 50px;
        border-color: var(--black) transparent transparent transparent;
    }

.header__heading {
    font-size: 38px;
    margin: 0 .4em;
    color: var(--white);
}

    .header__heading::after {
        content: "";
        display: block;
        background-color: var(--blue-light);
        height: 5px;
        border-radius: 50px;
        box-shadow: 0px 0px 10px 0px var(--blue);
    }




/*SIDEMENU*/
.menu {
    z-index: 999;
    height: 100%;
    width: 300px;
    position: absolute;
    top: 0;
    background-color: var(--black);
    box-shadow: 25px 0px 50px 0px var(--blue);
    transition: all 1s;
    transition: all 0.5s ease-in-out;
    color: white;
}

.menu__swich {
    height: 100px;
    width: 30px;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--black);
    display: flex;
    position: absolute;
    right: -30px;
    top: calc(50% - 50px);
    background-image: url(../images/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.menu--closed {
    margin-left: -300px;
    box-shadow: none;
}

    .menu--closed .menu__swich {
        background-image: url(../images/arrow-right.svg);
    }

.manu__link {
    display: block;
    font-size: 2.5em;
    padding: .5em 0;
    text-decoration: none;
    color: white;
    border: 1px solid var(--blue-light);
    width: 6em;
    text-align: center;
    box-shadow: 0 5px 10px var(--blue);
    transition: transform .2s ease-in-out;
}

.menu__item {
    height: fit-content;
    margin-bottom: 1em;
}

.menu__list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: fit-content;
}

.menu__heading {
    text-align: center;
    font-size: 3.2em;
    position: relative;
    color: var(--white);
}

    .menu__heading::after {
        content: "";
        display: block;
        width: 80%;
        background-color: var(--blue-light);
        height: 5px;
        margin-left: 10%;
        border-radius: 50px;
        box-shadow: 0px 0px 10px 0px var(--blue);
    }

.menu__overflow {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 998;
}




/*TEXTBOX*/
.textbox {
    transform: translateX(-50%);
    left: 50%;
    max-width: 1000px;
    width: calc(95vw - 64px - 6px);
    position: absolute;
    display: flex;
    gap: 24px;
    flex-direction: column;
    bottom: .2em;
    padding: 32px;
    border: 3px solid var(--blue);
    border-radius: 50px;
    background-color: var(--black50);
}

    .textbox p {
        margin: 0;
        color: var(--white);
    }

    .textbox .textbox__character {
        height: fit-content;
        text-transform: uppercase;
        color: var(--blue);
        font-size: 32px;
        width: fit-content;
        text-shadow: 0 0 15px var(--blue);
    }

.textbox__container {
    display: flex;
    justify-content: space-between;
}

.textbox__next {
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-color: unset;
    border: none;
    background-position: right;
    width: 25px;
    padding: 0;
}
.textbox__next--close {
    background-image: url(../images/close-light.svg);
    width: 55px;

}

.textbox--red {
    border: 3px solid var(--red);
}

    .textbox--red .textbox__character {
        color: var(--red);
        text-shadow: 0 0 15px var(--red);
    }

    .textbox--red .textbox__next {
        background-image: url(../images/arrow-right--red.svg);
    }
    .textbox--red .textbox__next--close {
        background-image: url(../images/close-light-red.svg);
        width: 55px;
    }



/*CHOICES*/
.wrap {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 1em;
    width: 95%;
}

.location-choice {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}





/*FIGHT UI*/
/*PLAYER STATS*/
.player {
    gap: 1em;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.player__cont {
    display: flex;
    width: 100%;
    flex-direction: column;
}

    .player__cont:last-child {
        justify-content: right;
    }

.player-stats {
    width: fit-content;
    background-color: var(--black50);
    border-radius: 5px;
    padding: .2em;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.player-stats--health {
    color: var(--pink);
}

.player-stats--energy {
    margin-left: auto;
    color: var(--green);
}

.player-stats--health::before {
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url(../images/heart.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.player-stats--energy::after {
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url(../images/bolt.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*ENEMY STATS*/
.enemy-stats {
    color: var(--white);
    margin: 0 auto;
    width: 95%;
    font-size: 24px;
    max-width: 600px;
    margin: 0 auto;
}

.enemy-stats__enemy__pink {
    color: var(--pink);
}

.enemy-stats__enemy {
    background-color: var(--black50);
    border-radius: 15px;
    width: fit-content;
    margin: 1em auto .3em auto;
    padding: .3em;
}

/*MINIGAME*/
.minigame--green_square {
    width: 95%;
    height: 105px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%);
    background-color: var(--black50);
    border-radius: 10px;
    border: 3px solid var(--blue);
    overflow: hidden;
    box-shadow: 0px 0px 5px 2px var(--blue);
}

.minigame__square {
    position: absolute;
    width: 35px;
    height: 105px;
    background-color: var(--green);
    top: 0;
    left: 75%;
}

.minigame__stick {
    position: absolute;
    width: 8px;
    height: 105px;
    background-color: var(--black);
    bottom: 0;
    left: 76%;
    border-right: 3px solid var(--blue);
    border-left: 3px solid var(--blue);
}

/*INFOBOX*/
.info {
    background-color: var(--black50);
    border-radius: 15px;
    width: fit-content;
    margin: 0 auto;
    padding: 1em;
}

.info__cont {
    display: flex;
    height: fit-content;
    justify-content: center;
}

.info__text {
    margin: 0;
    color: white;
    font-size: 24px;
}

.info__text--pink {
    color: var(--pink);
}

.info__text--green {
    color: var(--green);
    margin-left: 5px;
}








/*DEATH SCREEN*/
.death-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.death-menu {
    backdrop-filter: blur(5px);
    border-radius: 15px;
    background-color: var(--black80);
    width: fit-content;
    padding: 2em;
    margin: auto;
    width: calc(85% - 4em);
    max-width: calc(850px - 130px);
}

.death-menu__text {
    margin: 0 0 1em 0;
    color: var(--white);
    font-size: 3em;
    line-height: 95%;
    text-align: center;
}

    .death-menu__text::before {
        content: "404";
        display: flex;
        text-shadow: -4px -4px 0 var(--black), 4px -4px 0 var(--black), -4px 4px 0 var(--black), 4px 4px 0 var(--black);
        justify-content: right;
        align-items: end;
        line-height: 1.4em;
        height: 85px;
        width: 200px;
        background-image: url(../images/no-signal.svg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
    }






/*PIN*/

.pin{
    color: var(--white);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


    text-align: center;
    width: 385px;
    background-color: var(--grey-dark);
    border-radius: 16px;
    padding: 16px;

    box-shadow: 0 0 15px 5px var(--blue);
    transition: top .3s ease-in-out;
}
.pin--hidden{
    top: 160%;
}

.pin__heading {
    font-size: 4em;
    margin: 0;
}

.pin__input{
    width: calc(100% - 12px);
    height: 70px;
    font-size: 2em;
    background-color: var(--blue-light);
    border-radius: 16px;
    font-weight: bolder;
    text-align: center;
    border: 3px solid var(--blue, #31FFFB);

}
.pin__attempts{
    margin: 16px;
    font-size: 24px;
}
.pin__cont{
    border-radius: 15px;
    border: 6px solid var(--blue, #31FFFB);
    padding: 0px 24px 24px 24px;
    margin: 0 auto 1em auto;
}

.pin__cont__heading{
    color: var(--blue-light, #B4FFFE);
    font-size: 2.5em;
    margin: 0 0 24px 0;

}
.pin_history{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 30px);

}

.pin_history p{
    font-size: 1.2em;
    width: fit-content;
    margin: 0;
}

.pin_history p span{
    color: var(--blue);
}

.pin__close{
    cursor: pointer;
    height: 65px;
    width:  65px;
    position: absolute;
    right: 0;
    top: 0;

    background-image: url(../images/close-light.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*CHOICES*/
.choices {
    

    position: absolute;
    bottom: 0;
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 24px 16px 16px 16px;
    text-align: center;
    background-color: var(--black80);
}

.choices__text {
    font-size: 24px;
    color: var(--white);
    margin: 0;
}

.choices__choice.selected {
    transition: box-shadow .2s ease-in-out;
}
.choices__choice.selected {
    box-shadow: 0px 0px 10px 5px var(--red, #F00);
}

choices__submit.selected {
    transition: all .2s ease-in-out;
}
.choices__submit.enabled {
    opacity: 1;
    border: 1px solid var(--blue, #31FFFB);
    background-color: var(--black50);
}

/*HACK*/
.hack-game {
    text-align: center;
    color: white;
    font-family: 'Consolas', 'Courier New', monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    border: 1px solid red;
    border-radius: 16px;
    overflow: hidden;
    font-size: .8em;
}

.hack-game__list {
    list-style-type: none;
    padding: 0;
}

    .hack-game__list li {
        white-space: pre-wrap; /* This will make the browser respect whitespace, including tabs */
        text-align: left;
        padding: 4px;
        background-color: #222;
        cursor: pointer;
        tab-size: 20px;
        border-bottom: 1px solid #444;
    }

        .hack-game__list li:hover {
            background-color: #111111;
        }

.hack-game__submit {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #111111;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 1.8em;
}

@media (min-width: 768px) {
    /*HEADER*/
    .header {
        height: 90px;
    }

    .header__heading {
        font-size: 50px;
    }

    .header:before {
        right: -75px;
        border-width: 90px 75px 0 0;
    }

    .header:after {
        left: -75px;
        border-width: 90px 0 0 75px;
    }


    /*TEXTBOX*/
    .textbox .textbox__character {
        font-size: 3em;
    }

    .textbox__text {
        font-size: 2em;
    }

    .textbox__next {
        background-size: contain;
        width: 55px;
    }

    /*FIGHT*/
    .wrap, .minigame--green_square {
        max-width: 1000px;
        margin: 0 auto;
    }

    .minigame--green_square {
        max-width: 750px;
        margin: 0 auto;
    }

    .wrap .button {
        font-size: 32px;
        padding: .7em 1em;
    }

    .choices {
        bottom: 2em;
        border-radius: 16px;
        max-width: 750px;
        left: 50%;
        transform: translateX(-50%)
    }
}