.hitbox {
    position: absolute;
    border: 1px solid red; /*TOTO SE ODEBERE*/

    cursor: pointer;
}


.electro-shop .hitbox {
    height: 22vh;
    width: 15vh;
    left: calc(50% - 14px);
    top: 12%;
}

.dark-alley .hitbox {
    height: 18vh;
    width: 15vh;
    left: calc(50% - 85px);
    top: 36%;
}

.slum-quarter .hitbox {
    height: 22vh;
    width: 20vh;
    left: calc(50% + 10px);
    top: 20%;
}


.shady-bar .hitbox {
    height: 16vh;
    width: 12vh;
    left: calc(50% - 5px);
    top: 32%;
}

.part-of-the-bar .hitbox {
    height: 12vh;
    width: 12vh;
    left: calc(50% + 50px);
    top: 47%;
}


.secret-meeting-place .hitbox {
    height: 24vh;
    width: 20vh;
    left: calc(50% - 170px);
    top: 24%;
}

.cyber-lab .hitbox {
    height: 20vh;
    width: 15vh;
    left: calc(50% - 110px);
    top: 38%;
}

.tactical-room .hitbox {
    height: 15vh;
    width: 10vh;
    left: calc(50% - 40px);
    top: 43%;
}

.workshop .hitbox {
    height: 15vh;
    width: 15vh;
    left: calc(50% - 70px);
    top: 43%;
}

.quantum-technology .hitbox {
    height: 16vh;
    width: 30vh;
    left: calc(50% + 34px);
    transform: translate(-50%, 0);
    top: 44%;
    border-radius: 15px;
}

.back-entrance .hitbox {
    height: 45vh;
    width: 20vh;
    left: 50%;
    top: 25%;
}