body {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
}


body.electro-shop{
    background-image: url(/images/background/electro_shop.png);
}
body.dark-alley{
    background-image: url(/images/background/dark_alley.png);
}
body.slum-quarter{
    background-image: url(/images/background/slum_quarter.png);
}
body.slum-district{
    background-image: url(/images/background/slum_district.png);
}


body.shady-bar{
    background-image: url(/images/background/shady_bar.png);
}
body.part-of-the-bar{
    background-image: url(/images/background/part_of_the_bar.png);
}
body.back-entrance{
    background-image: url(/images/background/back_entrance.png);
}


body.secret-meeting-place{
    background-image: url(/images/background/secret_meeting_place.png);
}

body.cyber-lab{
    background-image: url(/images/background/cyber_lab.png);
}
body.tactical-room{
    background-image: url(/images/background/tactical_room.png);
}
body.workshop{
    background-image: url(/images/background/workshop.png);
}
body.quantum-technology{
    background-image: url(/images/background/quantum_technology.png);
}

body.death-screen {
    background-image: url(/images/background/death_screen.png)
}



/*ACT1*/
body.corporal-building {
    background-image: url(/images/background/act_1/corporal_building.png);
}
body.main-entrance {
    background-image: url(/images/background/act_1/main_entrance.png);
}
body.reception {
    background-image: url(/images/background/act_1/reception.png);
}
body.back-of-building {
    background-image: url(/images/background/act_1/back_of_building.png);
}
body.hallway {
    background-image: url(/images/background/act_1/hallway.png);
}
body.server-room {
    background-image: url(/images/background/act_1/server_room.png);
}
body.security-door {
    background-image: url(/images/background/act_1/security_door.png);
}
body.holding-cells {
    background-image: url(/images/background/act_1/holding_cells.png);
}
body.control-room {
    background-image: url(/images/background/act_1/control_room.png);
}
body.chief-technician-office {
    background-image: url(/images/background/act_1/chief_technitian_office.png);
}
body.back-door {
    background-image: url(/images/background/act_1/back_door.png);
}
body.warehouse {
    background-image: url(/images/background/act_1/warehouse.png);
}
body.boiler-room {
    background-image: url(/images/background/act_1/boiler_room.png);
}
body.security-room {
    background-image: url(/images/background/act_1/security_room.png);
}
body.extraction-van{
    background-image: url(/images/background/act_1/extraction_van.png);
}

/*ACT2*/
body.facility{
    background-image: url(/images/background/act_2/facility.png);
}
body.delivery-entrance{
    background-image: url(/images/background/act_2/delivery_entrance.png);
}
body.security-checkpoint{
    background-image: url(/images/background/act_2/security_checkpoint.png);
}
body.electrical-hallway{
    background-image: url(/images/background/act_2/electrical_hallway.png);
}
body.room-A421{
    background-image: url(/images/background/act_2/room_A421.png);
}
body.room-B78{
    background-image: url(/images/background/act_2/room_B78.png);
}
body.room-A765{
    background-image: url(/images/background/act_2/room_A765.png);
}
body.maintenance-area{
    background-image: url(/images/background/act_2/maintenance_area.png);
}
body.tool-storage{
    background-image: url(/images/background/act_2/tool_storage.png);
}
body.emergency-exit{
    background-image: url(/images/background/act_2/emergency_exit.png);
}
body.escape-car{
    background-image: url(/images/background/act_2/escape_car.png);
}


/*ACT3*/
body.data-depot{
    background-image: url(/images/background/act_3/data_depot.png);
}
body.third-floor{
    background-image: url(/images/background/act_3/third_floor.png);
}
body.main-lobby{
    background-image: url(/images/background/act_3/main_lobby.png);
}
body.sector-D4{
    background-image: url(/images/background/act_3/sector_D4.png);
}
body.server-17{
    background-image: url(/images/background/act_3/server_17.png);
}
body.server-21{
    background-image: url(/images/background/act_3/server_21.png);
}
body.research-wing{
    background-image: url(/images/background/act_3/research_wing.png);
}
body.computer-A765{
    background-image: url(/images/background/act_3/computer_A765.png);
}
body.rooftop-exit{
    background-image: url(/images/background/act_3/rooftop_exit.png);
}
body.helipad{
    background-image: url(/images/background/act_3/helipad.png);
}

/*ACT4*/
corporate-headquarters{
    background-image: url(/images/background/act_4/corporate_headquarters.png);
}
elevator{
    background-image: url(/images/background/act_4/elevator.png);
}
penthouse{
    background-image: url(/images/background/act_4/penthouse.png);
}
boss{
    background-image: url(/images/background/act_4/boss.png);
}