body {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
}


body.electro-shop{
    background-image: url(/images/background/electro_shop.png);
}
body.dark-alley{
    background-image: url(/images/background/dark_alley.png);
}
body.slum-quarter{
    background-image: url(/images/background/slum_quarter.png);
}
body.slum-district{
    background-image: url(/images/background/slum_district.png);
}


body.shady-bar{
    background-image: url(/images/background/shady_bar.png);
}
body.part-of-the-bar{
    background-image: url(/images/background/part_of_the_bar.png);
}
body.back-entrance{
    background-image: url(/images/background/back_entrance.png);
}


body.secret-meeting-place{
    background-image: url(/images/background/secret_meeting_place.png);
}

body.cyber-lab{
    background-image: url(/images/background/cyber_lab.png);
}
body.tactical-room{
    background-image: url(/images/background/tactical_room.png);
}
body.workshop{
    background-image: url(/images/background/workshop.png);
}
body.quantum-technology{
    background-image: url(/images/background/quantum_technology.png);
}

body.death-screen {
    background-image: url(/images/background/death_screen.png)
}