
/*Default*/
.map {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 1em;
    width: unset;
    height: fit-content;
    overflow: hidden;
    height: calc(100vh - 2em);
}

.content {
    border-radius: 0px 15px 15px 15px;
    border: 1px solid var(--grey-light);
    background-color: var(--grey-dark);
    color: white;
    font-size: 2em;
    padding: .4em;
    height: calc(100% - .8em);
}

.map__wrap {
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    position: relative;

    height: calc(100vh - 2em - 74px - 100px);
}

/*Swich Tabs*/
.swich__cont {
    position: absolute;
    top: -50.7px;
}

.swich {
    padding: 10px;
    background: var(--grey-dark);
    border-radius: 5px 5px 0px 0px;
    color: var(--white);
    font-size: 24px;
    border: none;
}

    .swich.active {
        border-top: 1px solid var(--grey-light);
        border-right: 1px solid var(--grey-light);
        border-left: 1px solid var(--grey-light);
        border-bottom: 1px solid var(--grey-dark);
        padding-bottom: 13px;
        overflow: visible;
        padding-bottom: 11px;
    }


/*MAP*/
.content--map {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content__map {
    width: 100%;
    flex-grow: 1;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(../images/map.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.content__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.content__choice {
    cursor: pointer;
    padding: 15px;
    flex-grow: 1;
    border-radius: 8px;
    background: var(--black);
    font-size: 24px;
    color: var(--white);
    border: none;
    transition: box-shadow .2s ease-in-out;
}

    .content__choice.selected {
        box-shadow: 0px 0px 10px 0px var(--blue);
    }

    .content__choice.hidden{
        cursor: not-allowed;
        opacity: .5;
        display: unset;
    }

    .content__cta {
        border-radius: 8px;
        background: var(--black);
        color: var(--white);
        text-decoration: none;
        text-align: center;
        padding: 1em;
        opacity: .5;
        transition: all .2s ease-in-out;
    }

    .content__cta.enabled {
        opacity: unset;
        outline: 2px solid var(--blue);
    }

.content__map__location {
    display: block;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    background-color: var(--white);
    transition: opacity .5s ease-in-out;
    opacity: 0;
    position: absolute;
    left: 20%;
    top: 10%;
}

    .content__map__location.active {
        opacity: 1;
    }

    .content__map__location:first-child {
        top: 50%;
        left: 65%;
    }

    .content__map__location:last-child {
        top: 80%;
        left: 40%;
    }




/*QUESTS*/
.content--quests {
    overflow-y: auto;
    display: block;
}

.quest__card {
    overflow: hidden;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: var(--black);
    margin-bottom: .4em;
}

.quest__card__heading {
    font-weight: 700;
    background: var(--black);
    color: var(--white);
    font-size: 32px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quest__card__text {
    margin: 0;
    font-size: .8em;
}

.quest__card__text--blue {
    color: var(--blue);
    padding-bottom: 10px;
}

.quest__card__heading:after {
    content: "";
    display: block;
    height: 40px;
    width: 32px;
    background-image: url(../images/arrow-up.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 14px;
}

.quest__card.finished .quest__card__heading {
    padding: 0 10px;
}

    .quest__card.finished .quest__card__heading:after {
        height: 60px;
        flex-grow: 1;
        background-image: url(../images/check.svg), url(../images/arrow-up.svg);
        background-position: left, right;
        background-size: 30px, 32px;
    }

.quest__card.active .quest__card__heading:after {
    background-image: url(../images/arrow-down.svg);
}

.quest__card.active.finished .quest__card__heading:after {
    background-image: url(../images/check.svg), url(../images/arrow-down.svg);
    background-position: left, right;
    background-size: contain, 32px;
}

.quest__card__cont {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

@media screen and (min-width: 375px) {
    .quest__card.finished .quest__card__heading:after {
        background-size: contain, 32px;
    }
}

@media screen and (min-width: 1200px) {
    .swich__cont{
        display: none;
        
    }
    .map__wrap{
        display: flex;
        justify-content: space-between;
    }
    div.content.content--map {
        display: flex;
        width: calc(70% - 2em);
    }
    div.content.content--quests {
        display: block;
        width: 30%;
    }
    .content {
        border-radius: 15px;
    }
    .map{
        gap: 50px;
    }

}
