.header{
    width: 100%;
    line-height: 60px;
    background-color: var(--black);
    padding: 1.5em 0;
    box-shadow: 0px 0px 15px 10px  var(--black);
}
.header__heading {
    margin: 0;
    text-align: center;
    font-size: 52px;
    color: var(--black);
    text-shadow: 0px 0px 25px var(--blue);
    -webkit-text-stroke: .5px var(--blue);
    font-weight: 100;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: var(--black);
}

.footer__text{
    color: var(--white);
    margin: 0;
    text-align: center;
    line-height: 1.5em;
    box-shadow: 0px 0px 15px 15px  var(--black);

}

.buttons{
    margin: 0 auto;
    width: fit-content;
    margin-top: 2em;
}

.buttons a {
    margin-bottom: .2em;
    display: block;
    padding: .5em 1em;
    text-decoration: none;
    border-radius: 8px;
    background: var(--black);
    box-shadow: 0px 0px 10px 0px var(--blue);
    color: var(--white);
    font-size: 2em;
    text-align: center;
}
.buttons a.hidden {
    display: none;
}

body {
    background-image: url(../images/background/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

body.end {
    background-image: url(../images/background/end.png);
}

.end__text {
    position: absolute;
    width: calc(95% - 3em);
    backdrop-filter: blur(2px);
    left: 50%;
    bottom: 2em;
    transform: translateX(-50%);
    background-color: var(--black80);
    color: var(--white);
    border-radius: 16px;
    padding: 1.5em;
    font-size: 1.5em;
    max-width: 768px;
}

.end__btn {
    display: block;
    background-color: var(--blue);
    text-align: center;
    text-decoration: none;
    color: var(--black);
    width: 80%;
    margin: 0 auto;
    border-radius: 16px;
    min-height: unset;
    max-width: 250px;
    position: absolute;
    bottom: 2em;
    left: 25%;
}

@media (min-width: 768px) {
    .header {
        padding: 4em 0 2em 0;
    }

    .header__heading {
        font-size: 8em;
    }

    .buttons {
        margin-top: 6em;
    }

    .buttons a {
        font-size: 2.5em;
    }
    .end__btn {
        left: 55%;
    }
}

