@page
@model Gamebook.Pages.Death

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/gameLocation.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/LocationBackground.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/root.css" asp-append-version="true" />
    <title>You DIED</title>
</head>

<body class="death-screen">

    <div class="death-menu">
        <p class="death-menu__text">
            We've lost contact with Viper,
            Looks like you have killed him.
        </p>
        <a class="button button--blue" asp-area="" asp-page="/Index">Load Last CheckPoint</a>
    </div>

</body>
</html>