@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
    bool gameInProgress = Model.GameInProgress;
}


@section Buttons{
    <a asp-area="" asp-page="/Location" asp-page-handler="Start" asp-route-location="SlumDistrict">New Game</a>
    @if (gameInProgress)
    {
        <a asp-area="" asp-page="/Location" asp-route-location="@ViewData["lastLocation"]">Continue</a>
    }
    else
    {
        <a class="hidden" asp-area="" asp-page="/Location" asp-route-location="@ViewData["lastLocation"]">Continue</a>
    }
}
