@page "/location/{location}"
@model Gamebook.Pages.LocationModel

@{
    Layout = "_LocationLayout";
}



<div class="textbox textbox--red textbox--hidden">
    <div class="textbox__container">
        <p class="textbox__character">Shadow Viper</p>
        <button class="textbox__next"></button>
    </div>
    <p class="textbox__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores hic at expedita, quia nostrum accusantium vitae alias non facilis error veniam enim provident
        tempora obcaecati doloremque eius. Laboriosam, sequi veniam.
    </p>
</div>

<div class="choice ">
    <!--choice--hidden-->
    <a class="choice__item" asp-area="" asp-page="/Location" asp-route-location="SlumQuarter">Slum Quarter</a>
    <a class="choice__item" asp-area="" asp-page="/Location" asp-route-location="ElectroShop">Electro Shop</a>
    <a class="choice__item" asp-area="" asp-page="/Location" asp-route-location="DarkAlley">Dark Alley</a>
</div>
