@page "/location/{location}"
@using Gamebook.Enums
@model Gamebook.Pages.LocationModel

@{
    Layout = "_LocationLayout";
    var locationRequest = Model.LocationPageRequest;
}



@section Choices {
    @foreach (var target in locationRequest.TargetLocations)
    {
        if (target.Locked)
        {
            <a class="choice__item hidden" asp-area="" asp-page="/Location" asp-route-location="@target.Location">@target.Location</a>
        }
        else
        {
            <a class="choice__item" asp-area="" asp-page="/Location" asp-route-location="@target.Location">@target.Location</a>
        }
        
    }
}

